/* Add here all your CSS customizations */
@import 'https://fonts.googleapis.com/css?family=Lato';

* {
	outline: none;
}

body {
	background: #343436;
	font-family: 'Lato';
}

/*👇 for preload play/pause svg 😎*/
body:after {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/play.svg)
		url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163884/pause.svg);
}

article{
		/* position: absolute; */
	/* width: 50%; */
	/* height: 300px; */
	/* top: 40px; */
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	text-align: center;
	/* padding: 10px 1%;
    box-sizing: border-box; */
    /* background-color:#0099e6; */
	/* box-shadow: 0 0 21px 0px rgba(0,0,0,0.9); */
	/* border-radius: 10px; */
}

img-fit {
    width: 300px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}




